<h2>Is it all validate:<%= validated %></h2>
<h1><%= userName %></h1>

<% for(let i = 0; i < 10; i++) { %>
  <li><%= i %></li>
<% } %>


<h1>Odd or Even?</h1>
<% for(let i = 0; i < 10; i++) { %>
  <% if (i % 2 === 0) { txt = "even" } else { txt = "odd" } %>
  <li><%= i %> - <%= txt %></li>
<% } %>


<br /><br />
<!-- `<`% Means I want to run some JavaScript code 
`<`%`= Means I want to output the result of the code -->

This receive from the data object passed by the res.locals that is read from default by EJS <br />
<h1><%= msg %></h1> <!-- This receive from the data object passed by the res.locals that is read from default by EJS -->
<h2><%= msg2 %></h2>

<br /><br />
Wrong way to evaluate an html to page
<%= imageHtml %>
<br />
Right way to evaluate an html to page
<%- imageHtml %>


<br /><br />
<!-- <%# This is a comment %> -->
{ /* This is a comment 2 */ }
